body{
    color: black;
    background: rgb(140, 140, 140);
    margin: 3px;
}

 header{
    border-bottom: solid 2px rgb(0, 79, 183);
    padding: 25px;
    font-size: 32px;
    color: rgb(0, 79, 183);
 }