body{
    color: black;
    background: rgb(140, 140, 140);
    margin: 5px;
}

 header{
    border-bottom: solid 2px rgb(0, 79, 183);
    padding: 25px;
    font-size: 32px;
    color: rgb(0, 79, 183);
 }

 section{
    background: rgb(84, 115, 124);
    padding-bottom: 70px;
    padding-top: 70px;
    display: flex;
    justify-content: center;
 }